
html,
body {
  height: 100%;
  position: absolute;
  inset: 0;
}

#root {
  margin: 0 auto;
  padding: 3rem;
  height: 90%;
  --detail-color: rgb(88, 112, 132);
  --selection-color: rgb(183, 208, 229);
  --session-color: rgb(48, 63, 75);
  --border-color: rgb(225, 210, 134);
}

#collection {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,2fr);
  height: 100%;
}

#selectedSpecimen {
  background-color: var(--selection-color);
  color: black;
  padding: 2rem;
}

#picker {
  width: 25rem;
  overflow: auto;
  height: 100%;
}

#detail {
  background-color: var(--detail-color);
}

.specimen {
  background-color: var(--detail-color);
}

.selected {
  background-color: var(--selection-color);
  color: black;
}

.session {
  border: 1px solid var(--border-color);
  background-color: var(--session-color);
  position: relative;
}

.sessionList {
  list-style-type: none;
  padding-inline-start: 2rem;
  margin: 0;
}

.add-button {
  position: absolute;
  top: 0;
  right: 0;
  padding-block: 0;
  padding-inline: 8px;
  color: var(--session-color);
}
.add-session {
  background-color: var(--border-color);
}
.add-specimen {
  background-color: var(--detail-color);
}